# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Моё\Netcracker\Netcracker_Java_SQL\Java\2+. Text Handling Tasks\ContactCard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
